include vault/create_vault_secrets.yaml
include README.md galaxy.yml
recursive-include meta *
recursive-include playbooks *
recursive-include plugins *
recursive-include roles/install_hashicorp *.yml *.yaml *.md
recursive-exclude .git *
recursive-exclude .ansible *
recursive-exclude vault .gitignore *.sh id_ssh_rsa* links.txt
exclude vault/*.asc .gitignore *.sh
